*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

@blue: #273151;
@menuBlue: #20357d;
@milkyBlue: #cfdcff;
@hoverBlue: #2e468f;
@controlBlue: #20357d;
@footerColor: #b7c4f2;
@hoverColor: #2a4890;
@grey: #f6f6f6;
@darkGrey: #9b9c9f;
@greyHover: #edeef3;
@dateColor: #6c6c6c;
@lineColor: #cfcfcf;
@mapWater: #cbdce4;

body {
    min-width: 1024px;
}

// Добавление флексбокса
.Flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // Сверху-внизу
    &--start {
        align-items: flex-start;
    }
    // Слева-направо
    &--justifyStart {
        justify-content: flex-start;
    }
}

// Центрирующая коробка
.Center {
    position: relative;
    width: 1000px;
    margin: auto;
    padding: 0 30px;
    font-size: 0;
}

// Стандартный заголовок
.Title {
    font-size: 28px;
    font-family: FranklinBold;
    color: @hoverColor;

    &--super {
        font-size: 32px;
    }

    &--contact {
        padding-bottom: 35px;
    }
}

// Вариации разделительной линии
hr {
    background-color: @lineColor;
    height: 1px;
    margin: 0;
    border: none;

    &.Hr--footer {
        text-align: center;
        background-color: @footerColor;
    }
    &.Hr--blue {
        background-color: @hoverColor;
    }
    &.Hr--shadow {
        box-shadow: 0 10px 50px rgba(0, 0, 0, .2);
    }
    &.Hr--slider {
        width: 700px;
    }
    &.Hr--hover {
        background-color: @hoverBlue;
    }

}

// Строка-заголовок на главной
.SectionHeader {
    line-height: 100px;
    letter-spacing: 2.5px;

    &:hover {
        text-decoration: none;
    }
}

// Число / день
.Date {
    font-size: 14px;
    color: @dateColor;
    font-weight: 100;

    &--actual {
        font-size: 15px;
    }
}

// Однострочная подпись к картинкам
.ImageDesc {
    font-size: 13px;
    line-height: 55px;
    color: @dateColor;
}
