@font-face {
    font-family: 'Franklin';
    src: url('/static/fonts/FranklinGothicBookC.otf');
    /* src: url('/static/fonts/franklingothicbookc-webfont.eot'); */
    /* src: url('/static/fonts/franklingothicbookc-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/franklingothicbookc-webfont.woff2') format('woff2'),
         url('/static/fonts/franklingothicbookc-webfont.woff') format('woff'),
         url('/static/fonts/franklingothicbookc-webfont.ttf') format('truetype'),
         url('/static/fonts/franklingothicbookc-webfont.svg#franklingothicbookcregular') format('svg'); */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FranklinBold';
    src: url('/static/fonts/FranklinGothicDemiC.otf');
    /* src: url('/static/fonts/franklingothicdemic-webfont.eot'); */
    /* src: url('/static/fonts/franklingothicdemic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/franklingothicdemic-webfont.woff2') format('woff2'),
         url('/static/fonts/franklingothicdemic-webfont.woff') format('woff'),
         url('/static/fonts/franklingothicdemic-webfont.ttf') format('truetype'),
         url('/static/fonts/franklingothicdemic-webfont.svg#franklingothicdemicregular') format('svg'); */
    font-weight: normal;
    font-style: normal;
}
