body {
    font-family: 'Franklin', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 100;
}

h1, .Bold {
    font-family: 'FranklinBold';
    font-weight: 100;
}

a {
    font-size: 15px;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

p, input, textarea {
    font-size: 15px;
    line-height: 25px;
}
