@import (inline) "../libs/reset.css";
@import (inline) "../libs/owl.carousel.css";

// Вспомогательные классы и настройки
@import "basic";

// Шрифты
@import "fonts";

// Вспомогательные классы и настройки на шрифты
@import "styleguide";

// Шапка
@import "blocks/header";

// Футер
@import "blocks/footer";

// О компании
@import "blocks/about";

// Проекты (в т.ч. секция на главной)
@import "blocks/projects";

// Новости (в т.ч. секция на главной)
@import "blocks/news";

// Контакты
@import "blocks/contacts";

// Слайдеры (в т.ч. секция на главной)
@import "blocks/sliders";

// _________________________________________
// Дополнительные стили для главной страницы

// Партнеры
.Partners {
    position: relative;
    background-color: white;
    padding-bottom: 80px;
    border-bottom-left-radius: 20px;

    &-company {
        max-height: 60px;
        margin-top: 15px;
    }
}
