div.ContactItem-row
    p.ContactItem-name(for='ContactItem-input-' + cid) Офис
    input.ContactItem-input(type='text', name='office', value=model.office, id='ContactItem-input' + cid)
div.ContactItem-row
    p.ContactItem-name(for='ContactItem-input-' + cid) Адрес
    input.ContactItem-input(type='text', name='adress', value=model.address, id='ContactItem-input' + cid)
div.ContactItem-row
    p.ContactItem-name(for='ContactItem-input-' + cid) Телефон
    input.ContactItem-input(type='text', name='phone', value=model.phone, id='ContactItem-input' + cid)
div.ContactItem-row
    p.ContactItem-name(for='ContactItem-input-' + cid) Факс
    input.ContactItem-input(type='text', name='fax', value=model.fax, id='ContactItem-input' + cid)
div.ContactItem-row
    p.ContactItem-name(for='ContactItem-input-' + cid) Email
    input.ContactItem-input(type='text', name='email', value=model.email, id='ContactItem-input' + cid)
//- div.ContactItem
    //- p.ContactItem-name(for='ContactItem-url-' + cid) URL
    //- input.ContantItem-input.ContactItem-input--url(type='text', name='url', value=model.url, id='ContactItem-input' + cid)
button.btn.remove.remove-plain-item( id='remove-item')
