.inp-field {
  display: inline-block;
  position: relative;

  .label {
    color: grey;
    position: absolute;
    white-space: nowrap;
    top: 0;
    left: 0;
    transition: 0.2s ease-out;
    font-size: 14px;
    cursor: text;

    &.active {
      transform: translateY(-100%);
      font-size: 12px;
      cursor: pointer;
    }
  }

  .inp {
    border: none;
    border-bottom: 1px solid black;
  }

  .inp:focus + .label {
    transform: translateY(-100%);
    font-size: 12px;
  }
}

.inp-field-top-right {
  position: absolute;
  top: 53px;
  right: 2px;

  .inp {
    width: 225px;
  }
}