// Цвета
@top-menu-bg-color: black;
@top-menu-bg-active-color: #273151;
@logout-color: #a8b5e2;

// Верхнее меню
.Topmenu {
  position: relative;
  height: 50px;
  background: @top-menu-bg-color;
}

.Topmenu-content {
  position: relative;
  width: 900px;
  height: 100%;
  margin: 0 auto;
}

.Topmenu-logo {
  position: relative;
  display: inline-block;
  width: 92px;
  height: 36px;
  background: url(/static/img/control-logo.png) no-repeat center;
  background-size: contain;
  transition: opacity .4s ease;

  &:hover {
      opacity: .7;
  }
}

.Topmenu-list {
  height: 100%;
  width: 520px;
  margin-left: 50px;
  position: absolute;
  left: 92px;
}

.Topmenu-a {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 10px;
  font-weight: bold;
  transition: background-color 0.2s ease-out;
  font-size: 13px;
  font-weight: bold;
  line-height: 50px;

  &:hover, &:focus, &.active {
    background-color: @top-menu-bg-active-color;
  }
}

.Topmenu-logout {
  text-decoration: underline;
  padding: 16px 0;
  color: @logout-color;
  font-size: 13px;

  &:hover, &:focus {
    text-decoration: none;
  }

  &:after {
    bottom: 17px;
  }
}

.b-section-content {
  width: 700px;
}
