{% load staticfiles %}

<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta content="width=device-width, user-scalable=1" name="viewport"/>

    <title>Example App{% block title %} • {% endblock %}</title>

    <link type="text/css" href="{% static 'css/control/control.min.css' %}" rel="stylesheet">

    {% block static %}
    {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">

{% block topmenu %}
    {% include 'control/includes/topmenu.html' %}
{% endblock %}

<div class="Content">
    {% block content %}
    {% endblock %}
</div>

{% block scripts-libs %}
    <script src="{% static 'js/libs/jquery.min.js' %}"></script>
{% endblock %}

{% block scripts-app %}
    <script src="{% static 'js/control/app.js' %}"></script>
{% endblock %}

<script>{% block data %}{% endblock %}</script>

<script>
    window.app.initialize();
</script>
</body>
</html>
