{% extends 'control/base.html' %}

{% load control_tags %}

{% block title %}{{ block.super }} Контакты{% endblock %}

{% block body_class %}contacts-page{% endblock %}

{% block content %}
    <div class="Center">
        <h1 class="Title">Офисы</h1>
        <section class="Office-section">
            <ul class="Office-list list"></ul>
            <button class="btn add-item Add">Добавить офис</button>
            <button class="btn btn-save btn-std btn-primary">Сохранить</button>
        </section>
        <div class="Lang">
            <ul class="Lang-list">
                <li class="Lang-item {% active request '^/control/contacts/ru/$' %}">
                    <a href="{% url 'control:contacts' lang='ru' %}" class="Lang-link">Русский</a>
                </li>
                <li class="Lang-item {% active request '^/control/contacts/en/$' %}">
                    <a href="{% url 'control:contacts' lang='en' %}" class="Lang-link">English</a>
                </li>
                <li class="Lang-item {% active request '^/control/contacts/ch/$' %}">
                    <a href="{% url 'control:contacts' lang='ch' %}" class="Lang-link">Chinese</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block data %}
    app.data.contacts = {{ contacts|jsonify|safe }};
    app.data.lang = '{{ lang }}';
{% endblock %}
