{% extends 'control/base.html' %}

{% load control_tags %}

{% block title %}{{ block.super }} Контакты{% endblock %}

{% block body_class %}contacts-page{% endblock %}

{% block content %}
    <div class="Center">
        <h1 class="Title">Направления</h1>
        <section class="section-list" id="section-list">
                <ul class="plainlist list">
                    <!-- <li class="plainitem list-noremove">
                        Список контактов пуст
                        <button type="button" name="button">Удалить</button>
                    </li> -->
                </ul>
            <button class="btn add-plain-item Add" id="add-item">Добавить направление</button>
        </section>

        <button class="btn btn-std btn-primary" id="save">Сохранить</button>
    </div>
{% endblock %}

{% block data %}
    app.data.contacts = {{ contacts|jsonify|safe }};
{% endblock %}
