﻿<!DOCTYPE html>
<html>
<head>
    <title>Exampleapp • Панель управления</title>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    <style type="text/css">
        body { font-family: Arial, Arial, Helvetica, sans-serif; font-size: 13px; }
        #center { width:200px; height:150px; position:absolute; top:50%; left:50%; margin:-75px auto auto -100px; }
        fieldset { border:0; width:177px;}
        label { float:left; width:25%; padding-top:0.2em; text-align:left; }
        input { float:left; display:block; width: 171px; }
        input.checkbox{width:15px; padding:0px;margin:0; height:18px; line-height:18px;margin-top:12px;}
        label.checkbox{width:150px;padding-left:5px;margin:0;height:12px; line-height:12px;margin-top:12px;}
    </style>
</head>
<body>

    <form id="center" method="post" action=".">{% csrf_token %}
        <fieldset>
            <label for="login">Login:</label>
            <input type="text" id="login" name="login" value=""/>

            <label for="pwd">Password:</label>
            <input type="password" id="pwd" name="pwd" value=""/>

            {%comment%}<input type="checkbox" class="checkbox" name="remember" id="remember" />
            <label for="remember" class="checkbox">Запомнить меня</label>{%endcomment%}

            <input type="submit" style="width:auto;float:right;margin-top:15px" value="Log In"/>
        </fieldset>
        <!--{{state}}-->
    </form>
</body>
</html>
