{# {% load i18n custom %}#}

<div class="Footer">
    <div class="Center">
        <div class="Footer-credits Flex">
            <a href="index.html" class="Footer-logo"></a>
            <div class="Footer-social Flex">
                <a href="" target="_blank" class="FooterSocial FooterSocial-fb"></a>
                <a href="" target="_blank" class="FooterSocial FooterSocial-twitter"></a>
            </div>
        </div>
        <hr class="Footer-hr">
        <div class="Footer-menu">
            <div class="FooterMenu-item FooterMenu-item--first">
                <div class="FooterHeader">
                    <a href="about.html">Холдинг</a>
                </div>
                <div class="FooterLink">
                    <a href="">Структура консорциума</a>
                </div>
                <div class="FooterLink">
                    <a href="">Технические мощности</a>
                </div>
                <div class="FooterLink">
                    <a href="news.html">Новости</a>
                </div>
                <div class="FooterLink">
                    <a href="">Сертификаты</a>
                </div>
                <div class="FooterLink">
                    <a href="contacts.html">Контактная информация</a>
                </div>
                <div class="FooterLink">
                    <a href="">Задать вопрос</a>
                </div>
                <div class="FooterLink">
                    <a href="">Сертификаты</a>
                </div>
            </div>
            <div class="FooterMenu-item">
                <div class="FooterHeader">
                    <a href="projects.html">Нефтегазовые проекты</a>
                </div>
                <div class="FooterLink">
                    <a href="projects-inside.html">Строительство трубопроводов</a>
                </div>
                <div class="FooterLink">
                    <a href="">Строительство электрических сетей</a>
                </div>
                <div class="FooterLink">
                    <a href="">Логистические услуги</a>
                </div>
                <div class="FooterLink">
                    <a href="">Поставка продукции</a>
                </div>
                <div class="FooterHeader">
                    <a href="">Проекты развития</a>
                </div>
                <div class="FooterLink">
                    <a href="">Фармацевтика</a>
                </div>
            </div>
            <div class="FooterMenu-item">
                <div class="FooterHeader">
                    <a href="">Недвижимость</a>
                </div>
                <div class="FooterLink">
                    <a href="">Гостиничный бизнес</a>
                </div>
                <div class="FooterLink">
                    <a href="">Гражданское строительство</a>
                </div>
                <div class="FooterHeader">
                    <a href="">Рыболовство</a>
                </div>
            </div>
            <div class="FooterMenu-item FooterMenu-item--last">
                <div class="FooterHeader">
                    <a href="">Медиа</a>
                </div>
                <div class="FooterLink">
                    <a href="">Солярис Промо Продакшн</a>
                </div>
                <div class="FooterLink">
                    <a href="">Канал A one</a>
                </div>
            </div>
        </div>
    </div>
</div>
