{% load i18n custom %}

<div class="Header Flex">
    <a href="index.html" class="Header-logo"></a>
    <div class="Header-menu Flex">
        <!-- <a href="projects.html" class="Header-link">Нефтегазовые проекты</a>
        <a href="" class="Header-link">Медиа</a>
        <a href="" class="Header-link">Рыболовство</a>
        <a href="" class="Header-link">Недвижимость</a>
        <a href="" class="Header-link">Проекты развития</a> -->

        {% for page in HEADER_MENU %}
                <a class="Header-link {% active page current_page %}" {% href page current_page %}>
                    {{ page.title }}
                </a>
        {% endfor %}
    </div>
    <div class="Header-lang Flex">
        <a href="" class="Header-langLink Header-langLink--active">RU</a>
        <a href="" class="Header-langLink">EN</a>
        <a href="" class="Header-langLink">CH</a>
    </div>
</div>
<hr>
