*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

@body-width: 900px;
@title-color: #777777;
@box-color: #ede9e4;
@add-color: #273151;

body {
  font-family: 'Futura', Helvetica, Arial, sans-serif !important;
  background-color: @main-bg-color;
  min-width: @body-width;
  height: 100%;

  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'kern';
  -moz-font-feature-settings: 'kern=1';
  -moz-font-feature-settings: 'kern';
  -ms-font-feature-settings: 'kern' 1;
  font-feature-settings: 'kern';

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Добавление флексбокса
.Flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // Сверху-внизу
    &--start {
        align-items: flex-start;
    }
    // Слева-направо
    &--justifyStart {
        justify-content: flex-start;
    }
}

// Центрирующая коробка
.Center {
    position: relative;
    width: 900px;
    margin: auto;
    padding-bottom: 70px;
    // padding: 0 30px;
    // font-size: 0;
}

// Стандартный заголовок
.Title {
    font-size: 38px;
    margin: 60px 0 20px;
    // font-family: FranklinBold;
    color: @title-color;

    &--super {
        font-size: 32px;
    }

    &--contact {
        padding-bottom: 35px;
    }
}

.btn.remove {
    position: absolute;
    top: 7px;
    right: 9px;
    width: 15px;
    height: 15px;
    background-image: url(/static/img/x.png);
    background-size: cover;
}

.btn.add-plain-item {
    color: @add-color;
    font-size: 13px;
    margin-top: 0 !important;
}
