@main-bg-color: #fff;
@active-element-color: #6fd6fa;

@header-color: #777777;
@btn-bg-color: #000;
@btn-disabled-color: #555555;
@btn-text-color: #fff;
@btn-inner-color: #267333;
@inp-border-color: #868686;
@inp-label-color: #777777;

/* b-btnround */
@b-btnround-color: #77b8e3;
@b-btnround-color-one: #b8a6a6;
@b-btnround-color-two: #7c7fdf;

/* b-itemgrid */
@b-itemgrid-color: #000;
@b-itemgrid-label-color: #fff;

/* b-itemwide */
@b-itemwide-bg-color: #cfcfcf;
@b-itemwide-label-color: #000;

/* b-inner-link */
@b-inner-link-color: #0f6a03;
@b-inner-link-active-color: #3c8ec5;