@font-face {
    font-family: 'Futura';
    src: url('/static/fonts/futurademi.eot');
    src: url('/static/fonts/futurademi.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/futurademi.woff2') format('woff2'),
         url('/static/fonts/futurademi.woff') format('woff'),
         url('/static/fonts/futurademi.ttf') format('truetype'),
         url('/static/fonts/futurademi.svg#futurademi') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura';
    src: url('/static/fonts/futurabookc.eot');
    src: url('/static/fonts/futurabookc.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/futurabookc.woff2') format('woff2'),
         url('/static/fonts/futurabookc.woff') format('woff'),
         url('/static/fonts/futurabookc.ttf') format('truetype'),
         url('/static/fonts/futurabookc.svg#futurabookc') format('svg');
    font-weight: normal;
    font-style: normal;
}