.icon-pencil {
  display: inline-block;
  width: 15px;
  height: 16px;
  background: url(/static/img/control/pencil.jpg) no-repeat;
}

.icon-portrait {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}

.icon-image {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}