.l-content {
  position: relative;
  width: @body-width;
  margin: 0 auto;
  padding: 44px 0 75px;
  .clearfix;
}

.l-table {
  display: table !important;
}

.l-table-row {
  height: 100%;
  display: table-row !important;
}

.l-table-cell {
  vertical-align: middle;
  display: table-cell !important;
}