a {
  text-decoration: none;

  outline: none;
}

h1 {
  letter-spacing: 0.4px;

  font-size: 38px;
  font-weight: normal;
}

.main-title {
  margin-left: -3px;
}

.l-content > h1 {
  margin-bottom: 21px;
}

h2 {
  letter-spacing: -0.4px;

  font-size: 24px;
  font-weight: bold;
}

h3 {
  color: #00628f;

  font-size: 18px;
  font-weight: normal;
}

button {
  cursor: pointer;

  outline: none;
}

.input-x-large {
  width: 514px;
}

.input-large {
  width: 437px;
}

.input-middle {
  width: 322px;
}

.input-small {
  width: 66px;
}

.input-block {
  display: block;

  margin-top: 15px;

  &:first-child {
    margin-top: 0;
  }
}

.label {
  display: inline-block;

  margin-bottom: 3px;

  vertical-align: bottom;
}

.inp {
  font: inherit;
}

.btn {
  position: relative;

  padding: 0;

  cursor: pointer;

  border: none;
  outline: none;
  background: none;

  font: inherit;
}

.btn-std {
  padding: 5px 6px;

  transition: box-shadow 0.3s ease-out;
  letter-spacing: 0.5px;

  border-radius: 4px;

  font-weight: bold;

  &:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
}

.btn-primary {
  padding: 10px 15px;

  cursor: pointer;

  color: black;
  background: #a8b5e2;
  // box-shadow: rgba(0, 0, 0, 0.156863) 0 2px 5px 0, rgba(0, 0, 0, 0.117647) 0 2px 10px 0;
  //  &:hover {
  //    color: black;
  //  }
}

.btn-inner {
  display: block;

  margin-bottom: 31px;
  margin-left: 0;
  padding: 0 0 0 2px;

  cursor: pointer;

  color: @btn-inner-color;
  border: none;
  background: none;

  font: italic 14px Arial;
}

.btn-add {
  padding: 7px 32px 7px 12px;

  color: white;
  border: none;
  background: #4DB6AC;

  .icon {
    position: absolute;
    top: 3px;
    right: 4px;

    display: inline-block;

    width: 24px;
    height: 24px;

    fill: white;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &:hover {
    background-color: #2bbbad;
  }
}

.input-label {
  display: inline-block;

  width: 51px;
  margin-top: 3px;
  margin-right: 15px;

  text-align: right;
  vertical-align: top;

  color: @inp-label-color;
}

.file-field {
  position: relative;

  display: inline-block;

  .btn {
    position: relative;
    z-index: 2;
  }

  input {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
  }
}

.textarea {
  resize: none;
}

.underline {
  position: relative;

  &:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    content: ' ';
    transition: all 0.2s ease-out;

    border-bottom: 1px solid;
  }

  &:hover:after {
    border-bottom-color: transparent;
  }
}

.underline-dotted {
  &:after {
    border-bottom-style: dotted;
  }
}

.add-plain-item {
  position: relative;

  display: inline-block;

  &:hover {
    &:after {
      opacity: 0;
    }
  }

  &:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;

    content: ' ';
    transition: opacity 0.2s ease-out;

    border-bottom: 1px dotted black;
  }
}

.inp-row {
  margin-top: 30px;

  &:first-child {
    margin-top: 0;
  }
}

// Класс делает элемент скрытым для отображения, но в то же время доступным для screen reader
.obscure {
  position: absolute !important;

  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
