extends ./base.jade

block title 
    title about / etk / frontend
    
block content    
        .Center   
            .Header.Header--sub.Header--white.Flex
                a(href="projects-inside.html").Header-link--sub.Header-link--about.Header-link--active О холдинге
                a(href="").Header-link--sub.Header-link--about Структура
                a(href="").Header-link--sub.Header-link--about Руководство
                a(href="contacts.html").Header-link--sub.Header-link--about Контактная информация
        
        .AboutImage
            .Center
                .AboutImage-desc Группа компаний ЕТК – многопрофильный консорциум, в который входят ведущие компании в сегментах нефтегазового, промышленного и гражданского строительства, работающие на рынке с 1998 года.
                
        .AboutInfo
            .Center
                        
                .AboutBio
                    .AboutBio-image
                    h3.AboutBio-name Евсюков 
                    h3.AboutBio-name Дмитрий Анатольевич
                    p.AboutBio-nameDesc Президент группы ЕТК
                    .AboutBio-map
                    p.AboutBio-desc ЕТК имеет представительства в пяти городах России, а также в Украине, Белоруссии, Казахстане, Туркменистане, Узбекистане, Китае, Саудовской Аравии и Объединенных Арабских Эмиратах.
                
                h1.Title Холдинг ЕТК
                p.AboutInfo-desc Группа компаний ЕТК – многопрофильный консорциум, в который входят ведущие компании в сегментах нефтегазового, промышленного и гражданского строительства, работающие на рынке с 1998 года.
        
                p.AboutInfo-desc Группа компаний ЕТК включает:
                ul.AboutInfo-list
                    li.AboutInfo-listItem ЗАО ЕВРАКОР
                    li.AboutInfo-listItem ООО ЕТК
                    li.AboutInfo-listItem ЗАО Краснодарстройтрансгаз
                    li.AboutInfo-listItem ООО Дорожно-строительная компания Регион–БВР
                    li.AboutInfo-listItem ETK PTE. Ltd.
                    li.AboutInfo-listItem ETK TRAIDING PRIVATE LIMITED
                    
                h2.AboutInfo-listTitle Основные направления деятельности
                ul.AboutInfo-list
                    li.AboutInfo-listItem Строительство "под ключ", реконструкция и капитальный ремонт объектов магистральных нефте- и газопроводов
                    li.AboutInfo-listItem Промышленное и гражданское строительство 
                    li.AboutInfo-listItem Материально-техническое обеспечение
                    li.AboutInfo-listItem Транспортные услуги
                    
                h2.AboutInfo-listTitle Персонал группы компаний
                p.AboutInfo-desc.AboutInfo-desc--noPadding Группа компаний ЕТК обладает высококвалифицированным персоналом для выполнения всех необходимых работ. Численность сотрудников группы около 5000 человек и включает в себя высококвалифицированный инженерно-технический и административно-управленческий персонал, а также рабочих разных специальностей. Средний коэффициент квалификации рабочих основных специальностей составляет 5,5.
                
                h2.AboutInfo-listTitle Производственно-технические мощности
                p.AboutInfo-desc.AboutInfo-desc--noPadding Парк дорожно-строительной и специальной техники, один из крупнейших в РФ, насчитывает около 3500 машин и механизмов ведущих мировых производителей, а также мобильных вагон-домов, позволяющих организовывать передвижные временные городки строителей.
                p.AboutInfo-desc Парк железнодорожного подвижного состава включает 4695 единиц, что позволяет минимизировать логистические риски и существенно ускорить перебазировку техники и грузов в любые, даже самые отдаленные регионы РФ, стран СНГ и Балтии.
                p.AboutInfo-desc Группа Компаний имеет в своем распоряжении самые современные комплексы и оборудование автоматической, полуавтоматической и ручной сварки, которые обеспечивают выполнение сварочных операций в соответствии с международными стандартами.
