doctype html
html(lang='ru')
    head
        block title
            title etk
        link(rel='stylesheet', href='/static/css/front/style.css')
        block scripts
            script(type='text/javascript' src='/static/js/front/jquery-1.11.3.min.js')
            script(type='text/javascript' src='/static/js/front/owl.carousel.min.js')
            script(type='text/javascript' src='/static/js/front/script.js')
    body
        block header
            .Header.Flex
              a(href="index.html").Header-logo
              .Header-menu.Flex
                  a(href="projects.html").Header-link Нефтегазовые проекты
                  a(href="").Header-link Медиа
                  a(href="").Header-link Рыболовство
                  a(href="").Header-link Недвижимость
                  a(href="").Header-link Проекты развития
                  
              .Header-lang.Flex
                  a(href="").Header-langLink.Header-langLink--active RU
                  a(href="").Header-langLink EN
                  a(href="").Header-langLink CH
            hr
        block content
        block foot
            .Footer
                .Center
                    
                    .Footer-credits.Flex
                        a(href="index.html").Footer-logo
                        .Footer-social.Flex
                            a(href="" target="_blank").FooterSocial.FooterSocial-fb
                            a(href="" target="_blank").FooterSocial.FooterSocial-twitter   
                        
                    hr.Footer-hr
                                     
                    .Footer-menu
                        .FooterMenu-item.FooterMenu-item--first
                            .FooterHeader 
                                a(href="about.html") Холдинг
                            .FooterLink 
                                a(href="") Структура консорциума
                            .FooterLink 
                                a(href="") Технические мощности
                            .FooterLink 
                                a(href="news.html") Новости
                            .FooterLink 
                                a(href="") Сертификаты
                            .FooterLink 
                                a(href="contacts.html") Контактная информация
                            .FooterLink
                                a(href="") Задать вопрос    
                            .FooterLink 
                                a(href="") Сертификаты
                                
                        .FooterMenu-item
                            .FooterHeader 
                                a(href="projects.html") Нефтегазовые проекты
                            .FooterLink 
                                a(href="projects-inside.html") Строительство трубопроводов
                            .FooterLink 
                                a(href="") Строительство электрических сетей
                            .FooterLink 
                                a(href="") Логистические услуги
                            .FooterLink 
                                a(href="") Поставка продукции
                            .FooterHeader 
                                a(href="") Проекты развития
                            .FooterLink 
                                a(href="") Фармацевтика
                                
                        .FooterMenu-item
                            .FooterHeader
                                a(href="") Недвижимость
                            .FooterLink 
                                a(href="") Гостиничный бизнес
                            .FooterLink 
                                a(href="") Гражданское строительство
                            .FooterHeader 
                                a(href="") Рыболовство
                                
                        .FooterMenu-item.FooterMenu-item--last
                            .FooterHeader
                                a(href="") Медиа
                            .FooterLink
                                a(href="") Солярис Промо Продакшн
                            .FooterLink
                                a(href="") Канал A one
