extends ./base.jade

block title 
    title contacts / etk / frontend
   
block content
    .Center
        .Header.Header--sub.Header--white.Flex
            a(href="").Header-link--sub Структура консорциума
            a(href="").Header-link--sub Технические мощности
            a(href="").Header-link--sub Новости
            a(href="").Header-link--sub Сертификаты
            a(href="").Header-link--sub.Header-link--active Контактная информация
            a(href="").Header-link--sub Сертификаты

    hr       
    .ContactInfo
        .Center
            h1.Title.Title--contact Контактная информация
        
        .Center.Flex.Flex--start.Flex--justifyStart
            .ContactInfo-address    
                
                p.Contact-title.Bold Головной офис ГК "ЕТК"
                p.Contact 105120, Россия, Москва, Съезжинский пер.3, стр.1
                p.Contact Телефон: +7 (495) 780-20-20
                p.Contact Факс: +7 (495) 223-56-31
                
                p.Contact-title.Bold Филиал ГК "Евракор"
                p.Bold Строительно-монтажный трест №2 Западный
                p.Contact 105120, Россия, Москва, Съезжинский пер.3, стр.1
                p.Contact Телефон: +7 (495) 780-20-20
                p.Contact Факс: +7 (495) 223-56-31
                
                p.Contact-title.Bold Пресс-служба:
                a(href="").Contact-mail press@etk.com
                
                p.Contact-title.Bold Отдел-кадров:
                a(href="").Contact-mail hr@etk.com
            .ContactInfo-form
                p.Contact-title Вы сможете связаться с нами, отправив сообщение на <a class='Contact-link'>feedback@etk.com</a> или заполнив форму обратной связи:
                
                p.Form-text.Form-text--first Ваше имя
                input(type="text").Form-input.Form--name
                    
                p.Form-text Адрес эл.почты <span class='Form-span'>(для обратной связи)</span>
                input(type="text").Form-input.Form--mail
                    
                p.Form-text Сообщение
                textarea.Form-input.Form-message
                    
                input(type="submit" value="Отправить").Form-input.Form-send
            
