extends ./base.jade

block title 
    title index / etk / frontend

block content          
    .Slider
        .Slider-item.Slider-item--first
            a(href="projects.html").Slider-link
            h1.Slider-title.Slider-title--white ЕТК открывает новое направление: добыча нефти в Казахстане
            p.Slider-desc.Slider-desc--white Более 10 открытых месторождений с отличной инфраструктурой. 
        .Slider-item.Slider-item--second
            h1.Slider-title.Slider-title--white Протяженность наших труб в первом квартале 2015 года составила 30 000 км
            p.Slider-desc.Slider-desc--white Во втором квартале руководство компании планирует увеличить объемы производства на 20%.
        .Slider-item.Slider-item--third
            h1.Slider-title В 2014 году мы транспортировали 443 тыс. баррелей нефти
            p.Slider-desc Объем экспорта в 2014 году вырос в 8 раз, об этом свидетельствует рост цен на энергоносители на постсоветстком пространстве.
    
    .News
        .Center.Flex
            a(href="news.html").SectionHeader НОВОСТИ
        
        .Center.Flex.Flex--start
            .News-list
                .NewsList-item.NewsList-item--first
                    h3.Date 17 мая, вторник
                    p.NewsList-content Итоги незапланированного съезда совета директоров ОАО «ЕТК»
                .NewsList-item
                    h3.Date 17 мая, вторник
                    p.NewsList-content «ЕТК» и CNPC подписали Соглашение об основных условиях строительства газопровода по «западному» маршруту
                .NewsList-item
                    h3.Date 17 мая, вторник
                    p.NewsList-content «ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily
                .NewsList-item.NewsList-item--last
                    h3.Date 17 мая, вторник
                    p.NewsList-content «ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily
            
            .News-actual
                h3.Date.Date--actual 18 мая, среда
                p.NewsActual-content Сегодня «ЕТК» и CNPC подписали Соглашение об основных условиях строительства газопровода по «западному» маршруту
                .NewsActual-img
        
    hr
        
    .Projects
        .Center
            a(href="projects.html").SectionHeader КРУПНЕЙШИЕ ПРОЕКТЫ
            
        .Center
                
            img(src="/static/img/project1.jpg", alt="").Projects-img.Projects-img--first
            img(src="/static/img/project2.jpg", alt="").Projects-img
            img(src="/static/img/project3.jpeg", alt="").Projects-img
                    
            p.Projects-content.Projects-content--first Строительство, реконструкция и капитальный ремонт линейных трубопроводов    
            p.Projects-content Строительство магистрального газопровода Узбекистан-Китай (САК-3)
            p.Projects-content Замена участков трубопровода на объектах ОАО Транснефть

    hr

    .Partners  
        .Center
            a(href="").SectionHeader ПАРТНЕРЫ
            
        .Center.Flex 
            a(href="", target='_blank').Partners-link
                img(src="/static/img/partners/lukoil.png", alt="Lukoil").Partners-company
            a(href="", target='_blank').Partners-link
                img(src="/static/img/partners/kss.png", alt="kss").Partners-company
            a(href="", target='_blank').Partners-link
                img(src="/static/img/partners/tnk.png", alt="tnk").Partners-company
            a(href="", target='_blank').Partners-link
                img(src="/static/img/partners/rosneft.png", alt="rosneft").Partners-company
            a(href="", target='_blank').Partners-link
                img(src="/static/img/partners/gazprom.png", alt="gazprom").Partners-company
            a(href="", target='_blank').Partners-link
                img(src="/static/img/partners/transneft.png", onmouseover="this.src='/static/img/partners/transneft-active.png'" onmouseout="this.src='/static/img/partners/transneft.png'" alt="transneft").Partners-company    
