extends ./base.jade

block title 
    title news / etk / frontend

block content    
    .NewsPage     
        .Center.Flex.Flex--start
        
            .NewsPage-timeLine
                .NewsTimeLine-first.Flex
                    h3.NewsTimeLine-label Новости
                    .NewsTimeLine-dropdown
                        p.NewsTimeLine-year.NewsTimeLine-active 2015
                        p.NewsTimeLine-year 2014
                        p.NewsTimeLine-year 2013
                        p.NewsTimeLine-year 2012
                        .NewsTimeLine-arrow
                hr 
                .NewsTimeLine-list
                    .NewsTimeLine-item.NewsTimeLine-item--first
                        h3.Date 18 мая, среда
                        p.NewsList-content Итоги незапланированного съезда совета директоров ОАО «ЕТК»
                    .NewsTimeLine-item.NewsTimeLine-item--second
                        h3.Date 17 мая, вторник
                        p.NewsList-content «ЕТК» и CNPC подписали Соглашение об основных условиях строительства газопровода по «западному» маршруту    
                    .NewsTimeLine-item
                        h3.Date 17 мая, вторник
                        p.NewsList-content «ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily
                    .NewsTimeLine-item
                        h3.Date 17 мая, вторник
                        p.NewsList-content «ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily
                    .NewsTimeLine-item
                        h3.Date 17 мая, вторник
                        p.NewsList-content «ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily
                    .NewsTimeLine-item
                        h3.Date 17 мая, вторник
                        p.NewsList-content «ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily
                    .NewsTimeLine-item
                        h3.Date 17 мая, вторник
                        p.NewsList-content «ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily
                    .NewsTimeLine-item
                        h3.Date 17 мая, вторник
                        p.NewsList-content «ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily
                    .NewsTimeLine-item
                        h3.Date 17 мая, вторник
                        p.NewsList-content «ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily
                    .NewsTimeLine-item
                        h3.Date 17 мая, вторник
                        p.NewsList-content «ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily
            
            .VerticalDivider    
                    
            .NewsPage-actual.NewsPage-actual--active.NewsPage-actual--first
                h3.Date.Date--actual 18 мая, понедельник
                h1.NewsPage-title Итоги незапланированного съезда совета директоров ОАО "ЕТК"
                .NewsPage-image
                p.ImageDesc Подпись в одну строку
                
                hr
                
                p.NewsPage-desc Этот газопровод — прямой конкурент предыдущему. Должен был доставлять газ в Европу с того же самого месторождения Южный Парс — только его катарской части. По одной из версий, гражданская война в Сирии случилась не без участия заинтересованных лиц из Катара, рассчитывавших на приведение в стране к власти более лояльного правительства как раз ради реализации своего газового проекта.
                p.NewsPage-desc Запасы газа в крошечном ближневосточном эмирате исключительно велики, но сейчас катарцам приходится заниматься его сжижением и экспортировать посредством танкеров — в основном, на Дальний Восток. Это хоть и выгодно, но дорого. Европа же привыкла к трубопроводной системе, хотя мощности для переработки сжиженного газа строятся.
                p.NewsPage-desc Так или иначе, но быстрого переворота в Сирии не вышло, и война перешла в затяжную фазу. Пример Ливии показывает, что это не всегда препятствует экспорту углеводородов, но здесь, определенно, не тот случай. В общем, перспективы проекта более чем туманны.
                
            .NewsPage-actual.NewsPage-actual--second
                h3.Date.Date--actual 17 мая, среда
                h1.NewsPage-title Незапланированного съезда совета директоров ОАО "ЕТК" итоги
                
                .NewsPage-image.NewsPage-image--second
                p.ImageDesc Подпись в одну строку
                hr
                
                p.NewsPage-desc Этот газопровод — прямой конкурент предыдущему. Должен был доставлять газ в Европу с того же самого месторождения Южный Парс — только его катарской части. По одной из версий, гражданская война в Сирии случилась не без участия заинтересованных лиц из Катара, рассчитывавших на приведение в стране к власти более лояльного правительства как раз ради реализации своего газового проекта.
                p.NewsPage-desc Запасы газа в крошечном ближневосточном эмирате исключительно велики, но сейчас катарцам приходится заниматься его сжижением и экспортировать посредством танкеров — в основном, на Дальний Восток. Это хоть и выгодно, но дорого. Европа же привыкла к трубопроводной системе, хотя мощности для переработки сжиженного газа строятся.
                
                .NewsPage-image
                p.ImageDesc Подпись в одну строку
                hr
                
                p.NewsPage-desc Запасы газа в крошечном ближневосточном эмирате исключительно велики, но сейчас катарцам приходится заниматься его сжижением и экспортировать посредством танкеров — в основном, на Дальний Восток. Это хоть и выгодно, но дорого. Европа же привыкла к трубопроводной системе, хотя мощности для переработки сжиженного газа строятся.
                p.NewsPage-desc Так или иначе, но быстрого переворота в Сирии не вышло, и война перешла в затяжную фазу. Пример Ливии показывает, что это не всегда препятствует экспорту углеводородов, но здесь, определенно, не тот случай. В общем, перспективы проекта более чем туманны.
                
                .NewsPage-image
                p.ImageDesc Подпись в одну строку
                hr
                
                p.NewsPage-desc Запасы газа в крошечном ближневосточном эмирате исключительно велики, но сейчас катарцам приходится заниматься его сжижением и экспортировать посредством танкеров — в основном, на Дальний Восток. Это хоть и выгодно, но дорого. Европа же привыкла к трубопроводной системе, хотя мощности для переработки сжиженного газа строятся.
            
