extends ./base.jade

block title 
    title projects-inside / etk / frontend

block scripts
    script(type='text/javascript' src='/static/js/front/jquery-1.11.3.min.js')
    script(type='text/javascript' src='/static/js/front/owl.carousel.min.js')
    script(src="https://maps.googleapis.com/maps/api/js")
    script(type='text/javascript' src='/static/js/front/map.js')
    script(type='text/javascript' src='/static/js/front/script.js')

block content       
    .Header.Header--sub.Flex
        a(href="").Header-link--sub.Header-link--active Строительство трубопроводов
        a(href="").Header-link--sub Строительство электрических сетей
        a(href="").Header-link--sub Логистические услуги
        a(href="").Header-link--sub Поставка продукции

    hr
        
    .ProjectsInfo 
        .Center    
            h1.Title.ProjectsInfo--inside Строительство нефтегазовых трубопроводов и обустройство скважин
            p.ProjectsInfo-desc.ProjectsInfo--inside Одним из ключевых направлений деятельности Группы компаний "ЕТК" является строительство объектов нефтегазового комплекса (магистральных нефтепроводов, газопроводов и сопутствующей инфраструктуры), а также их реконструкция и капитальный ремонт.
            p.ProjectsInfo-desc.ProjectsInfo--inside На сегодняшний день Группа занимает одну из лидирующих позиций в сфере нефтегазового строительства, о чем свидетельствует обширная география реализованных и текущих проектов, а также их стратегическое значение.    
        
        .ProjectsInfo-slider
            .Center
                .ProjectsSlider-container
                    .ProjectsSlider-item.ProjectsSlider-item--1
                    .ProjectsSlider-item.ProjectsSlider-item--2
                    .ProjectsSlider-item.ProjectsSlider-item--3
                    .ProjectsSlider-item.ProjectsSlider-item--3
                
                .ProjectsSlider-descBox.Flex
                    p.ProjectsSlider-desc.ProjectsSlider-desc--1.ProjectsSlider-desc--active Процесс строительства Магистрального газопровода Россия-Турция (проект "Голубой поток") Процесс строительства Магистрального газопровода Россия-Турция (проект "Голубой поток")Процесс строительства Магистрального газопровода Россия-Турция (проект "Голубой поток")
                    p.ProjectsSlider-desc.ProjectsSlider-desc--2
                    p.ProjectsSlider-desc.ProjectsSlider-desc--3 Процесс строительства Магистрального газопровода Россия-Турция (проект "Голубой поток")
                    p.ProjectsSlider-desc.ProjectsSlider-desc--4 Газопровода Россия-Турция (проект "Голубой поток") Процесс строительства Магистрального газопровода Россия-Турция (проект "Голубой поток")Процесс строительства
        
                hr.Hr--slider
            
        
        .Center    
            p.ProjectsInfo-desc.ProjectsInfo--inside Одним из ключевых направлений деятельности Группы компаний "ЕТК" является строительство объектов нефтегазового комплекса (магистральных нефтепроводов, газопроводов и сопутствующей инфраструктуры), а также их реконструкция и капитальный ремонт.
            p.ProjectsInfo-desc.ProjectsInfo--inside На сегодняшний день Группа занимает одну из лидирующих позиций в сфере нефтегазового строительства, о чем свидетельствует обширная география реализованных и текущих проектов, а также их стратегическое значение.
            
        
    hr.Hr--shadow    
    .ProjectsNav.Flex 
        .Center
            a(href="").ProjectsNav-link.ProjectsNav-link--active Все проекты
            a(href="").ProjectsNav-link Завершенные
            a(href="").ProjectsNav-link Текущие
            
            .ProjectsNav-control.Flex
                a(href="").ProjectsControl.ProjectsControl--map.ProjectsControl--active
                a(href="").ProjectsControl.ProjectsControl--list
    
    hr        
    .ProjectsMap
        .ProjectsMap-map#map-canvas
        .Center.Center--map
            .ProjectsMap-controls#controls
                .MapControls.MapControls--plus#plus
                .MapControls.MapControls--minus#minus
