extends ./base.jade

block title 
    title projects / etk / frontend
    
block scripts
    script(type='text/javascript' src='/static/js/front/jquery-1.11.3.min.js')
    script(type='text/javascript' src='/static/js/front/owl.carousel.min.js')
    script(src="https://maps.googleapis.com/maps/api/js?language=en")
    script(type='text/javascript' src='/static/js/front/map.js')
    script(type='text/javascript' src='/static/js/front/script.js')

block content       
        .Header.Header--sub.Flex
            a(href="projects-inside.html").Header-link--sub Строительство трубопроводов
            a(href="").Header-link--sub Строительство электрических сетей
            a(href="").Header-link--sub Логистические услуги
            a(href="").Header-link--sub Поставка продукции
        
        .ProjectsImage  
        
        .ProjectsInfo  
            .Center
                .ProjectsInfo-fact
                    h1.ProjectsFact-title 7000 км
                    p.ProjectsFact-desc Протяженность построенных ЕТК трубопроводов только за первый квартал 2014 года.
                    hr.Hr--blue
                        
                h1.Title.Title--super Нефтегазовые проекты
                p.ProjectsInfo-desc.ProjectsInfo-desc--first Группа компаний ЕВРАКОР – многопрофильный консорциум, в состав которого входят ведущие компании в сегментах нефтегазового, промышленного и гражданского строительства, работающие на рынке с 1998 года.
                
                h2.ProjectsInfo-listTitle Ключевые направления деятельности Группы
                ul.ProjectsInfo-list
                    li.ProjectsInfo-listItem Строительство "под ключ", реконструкция и капитальный ремонт объектов магистральных нефте- и газопроводов
                    li.ProjectsInfo-listItem Промышленное и гражданское строительство 
                    li.ProjectsInfo-listItem Материально-техническое обеспечение
                    li.ProjectsInfo-listItem Транспортные услуги
                
                p.ProjectsInfo-desc В настоящее время в состав Группы "ЕВРАКОР" входят компании: АО "ЕВРАКОР", АО "Краснодарстройтрансгаз" и ООО "Дорожно-строительная компания Регион-БВР". Головной офис Группы расположен в Москве. Группа имеет представительства в пяти городах России, а также в Украине, Белоруссии, Казахстане, Туркменистане, Узбекистане, Китае, Саудовской Аравии и Объединненных Арабских Эмиратах.
            
        hr.Hr--shadow    
        .ProjectsNav.Flex 
            .Center
                a(href="").ProjectsNav-link.ProjectsNav-link--active Все проекты
                a(href="").ProjectsNav-link Завершенные
                a(href="").ProjectsNav-link Текущие
                
                .ProjectsNav-control.Flex
                    a(href="").ProjectsControl.ProjectsControl--map.ProjectsControl--active
                    a(href="").ProjectsControl.ProjectsControl--list
    
        hr
        .ProjectsMap
            .ProjectsMap-map#map-canvas
            .Center.Center--map
                .ProjectsMap-controls#controls
                    .MapControls.MapControls--plus#plus
                    .MapControls.MapControls--minus#minus
