// ________________________________________
// стили для страницы о компании
.AboutImage {
    height: 410px;
    background-image: url(/static/img/about-head.png);
    background-image: -webkit-image-set(url('/static/img/about-head.png') 1x, url('/static/img/about-head-2x.png') 2x);
    background-size: cover;

    &-desc {
        font-size: 25px;
        color: white;
        padding-top: 115px;
        width: 750px;
        line-height: 38px;
    }
}

.AboutInfo {
    padding: 65px 0 150px;
    background-color: @grey;
    position: relative;

    &-desc {
        padding-top: 30px;
    }
    &-desc--first {
        padding-top: 15px;
    }
    &-desc--noPadding {
        padding-top: 0;
    }
    &-desc, &-listTitle, &-list {
        width: 650px;
    }
    &-desc, &-listItem {
        line-height: 1.7;
    }
    &-listItem {
        font-size: 15px;
        list-style-type: none;
    }
    &-listItem:before {
        content: "•";
        font-size: 80%;
        padding-right: 5px;
        vertical-align: middle;
        color: @menuBlue;
    }
    &-listTitle {
        font-size: 16px;
        margin: 35px 0 5px;
        font-family: 'FranklinBold';
        font-weight: 100;
    }
}


.AboutBio {
    width: 220px;
    position: absolute;
    top: 45px;
    right: 30px;

    &-image {
        height: 305px;
        background-image: url(/static/img/esukov.png);
        /* background-image: -webkit-image-set(url('../../img/about-head.png') 1x, url('../../img/about-head-2x.png') 2x); */
        background-size: cover;
        margin-bottom: 20px;
    }
    &-name {
        font-size: 16px;
        font-family: 'FranklinBold';
        line-height: 1.5;
        font-weight: 100;
    }
    &-nameDesc {
        font-size: 14px;
        font-style: italic;
    }
    &-desc {
        font-size: 14px;
        line-height: 23px;
    }

    &-map {
        width: 200px;
        height: 125px;
        margin: 50px 0 20px 10px;
        background-size: cover;
        background-image: url(/static/img/map.png);
    }
}
