// ________________________________________
// стили для страницы контактной информации
.ContactInfo {
    background-color: @grey;
    padding: 55px 0 120px;
    position: relative;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    &-address {
        width: 450px;
    }
    &-form {
        width: 470px;
        padding-left: 52px;
    }
}
.Form {
    &-text {
        font-size: 13px;
        padding: 15px 0 2px;
    }
    &-text--first {
        padding-top: 35px;
    }

    &-input {
        border: 1px solid @lineColor;
        border-radius: 3px;
    }

    &--name, &--mail {
        width: 300px;
        height: 45px;
        padding-left: 10px;
    }

    &-message {
        width: 440px;
        height: 200px;
        resize: none;
        padding-left: 10px;
        padding-top: 5px;
    }
    &-span {
        color: @dateColor;
    }
    &-send {
        width: 130px;
        height: 45px;
        margin-top: 35px;
        position: relative;
        color: @menuBlue;
        background-color: white;
        border-color: @menuBlue;
        cursor: pointer;
    }
    &-send:hover {
        background-color: @menuBlue;
        color: white;
    }
    &-send:active {
        background-color: @milkyBlue;
        color: @menuBlue;
    }
}
.Contact {
    &-title {
        padding-top: 25px;
    }
    &-mail {
        text-decoration: none;
        line-height: 24px;
    }
    &-mail:hover {
        text-decoration: underline;
    }
    &-link {
        color: @hoverColor;
    }
    &-link:hover {
        text-decoration: none;
    }
}
