    // ________________
// Стили для футера
.Footer {
    background-color: @blue;
    height: 540px;
    padding-top: 20px;
    margin-top: -20px;

    &-credits {
        height: 115px;
    }

    &-logo {
        width: 82px;
        height: 38px;
        background-size: cover;
        background-image: url(/static/img/logo/logo-footer.png);
        background-image: -webkit-image-set(url('/static/img/logo/logo-footer.png') 1x, url('/static/img/logo/logo-footer-2x.png') 2x);
        transition: opacity .3s ease;
    }
    &-logo:hover {
        opacity: .3;
    }

    &-social {
        width: 110px;
        height: 45px;
        justify-content: space-around;
    }

    &-menu {
        display: flex;
    }
}

.FooterSocial {
    display: block;
    background-size: cover;
    transition: opacity .3s ease;

    &-fb {
        width: 22px;
        height: 22px;
        background-image: url(/static/img/social/facebook.png);
        background-image: -webkit-image-set(url('/static/img/social/facebook.png') 1x, url('/static/img/social/facebook-2x.png') 2x);
    }
    &-twitter {
        width: 28px;
        height: 23px;
        background-image: url(/static/img/social/twitter.png);
        background-image: -webkit-image-set(url('/static/img/social/twitter.png') 1x, url('/static/img/social/twitter-2x.png') 2x);
    }
    &-fb:hover, &-twitter:hover {
        opacity: .3;
    }
}

.FooterMenu-item {
    display: inline-block;
    width: 25%;
}

.FooterHeader {
    margin: 35px 0;

    a {
        font-size: 15px;
        font-weight: 100;
        letter-spacing: 1px;
        color: white;
    }
    a:hover {
        text-decoration: none;
    }
}

.FooterLink {
    margin-top: 20px;

    a {
        color: @footerColor;
        font-size: 12px;
    }
    a:hover {
        text-decoration: none;
    }
}
