// _______________
// Стили для шапки
.Header {
    background-color: white;
    height: 100px;
    width: 100%;
    /* min-width: 1024px; */
    position: relative;
    z-index: 100;

    &-logo {
    width: 102px;
    height: 47px;
    margin-left: 40px;
    background-image: url(/static/img/logo/logo.png);
    background-image: -webkit-image-set(url('/static/img/logo/logo.png') 1x, url('/static/img/logo/logo-2x.png') 2x);
    background-size: cover;
    transition: opacity .3s ease;
    }
    &-logo:hover {
        opacity: .7;
    }

    &-menu {
        width: 620px;
    }

    &-link {
        font-size: 15px;
        text-decoration: none;
        line-height: 100px;

        &:hover {
            border-bottom: 1px solid @hoverColor;
            color: @hoverColor;
        }
    }
    &-lang {
        width: 90px;
      	height: 26px;
      	border-radius: 2px;
      	border: 1px solid lightgrey;
      	margin-right: 40px;
        padding: 0 15px;
    }
    &-langLink {
        padding-top: 2px;
        text-decoration: none;
        font-size: 12px;
        color: @hoverColor;
    }
    &-langLink:hover, &-langLink--active {
        color: black;
    }

    // второе "подменю"
    &--sub {
        height: 70px;
        padding-left: 40px;
        background-color: @grey;
        justify-content: flex-start;
    }
    &-link--sub {
        margin-right: 15px;
        font-size: 14px;
        text-decoration: none;
    }
    &-link--sub:hover{
        color: @hoverColor;
    }
    &-link--active {
        color: @hoverColor;
    }
    &-link--about {
        margin-right: 20px;
    }

    // белое "подменю" в контактах
    &--white {
        background-color: white;
        padding-left: 0;
    }
}
