// ___________________________
// Новости на главной странице
.News {

    &-list {
        width: 350px;
        display: inline-block;
    }

    &-actual {
        width: 550px;
        margin-left: 20px;
        display: inline-block;
        vertical-align: top;
    }
}
.NewsList {

    &-item {
        border-bottom: 1px solid @lineColor;
        padding: 20px 35px 20px 0;
    }

    &-item--first {
        padding: 0 0 20px;
    }

    &-item--last {
        border-bottom: none;
        padding-bottom: 50px;
    }

    &-content {
        margin-top: 10px;
        transition: opacity .3s ease;
    }
    &-content:hover {
        opacity: .5;
        cursor: pointer;
    }
}
.NewsActual {
    &-content {
        padding: 10px 0 30px;
        font-size: 22px;
        line-height: 30px;
    }
    &-img {
        width: 550px;
        height: 375px;
        margin-bottom: 50px;
        background-size: cover;
        background-image: url(/static/img/news.jpg);
        /* background-image: -webkit-image-set(url('/static/img/main-slider.png') 1x, url('/static/img/main-slider-2x.png') 2x; */
    }
}

// _____________________________________
// Стили для отдельной страницы новостей
.NewsPage {
    position: relative;
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    &-timeLine {
        width: 365px;
        padding-bottom: 100px;
        // правая граница у списка новостей
        /* border-right: 1px solid @lineColor; */
    }

    &-actual {
        width: 659px;
        padding: 45px 60px 120px;
        display: none;
    }
    &-actual--active {
        display: block;
    }

    &-title {
        font-size: 28px;
        padding-top: 20px;
    }

    &-image {
        height: 360px;
        margin-top: 35px;
        background-image: url(/static/img/blue-stream.png);
        /* background-image: -webkit-image-set(url('/static/img/main-slider.png') 1x, url('/static/img/main-slider-2x.png') 2x; */
        background-size: cover;

        &--second {
            background-image: url(/static/img/gas.jpg);
        }
    }

    &-desc {
        padding-top: 30px;
        line-height: 25px;
    }
}

.NewsTimeLine {
    &-label {
        font-weight: 100;
        font-size: 22px;
    }
    &-dropdown {
        width: 80px;
        height: 30px;
        border-radius: 5px;
        cursor: pointer;
        border: 1px solid @menuBlue;
        color: @menuBlue;
        overflow: hidden;
        position: absolute;
        top: 38px;
        left: 255px;
        transition: all .3s ease;
    }
    &-dropdown:hover {
        background-color: @menuBlue;
        color: white;

        .NewsTimeLine-arrow {
            border-top: 5px solid white;
        }
    }
    &-dropdown--expanded {
        background-color: @menuBlue;
        color: white;
        height: 125px;

        .NewsTimeLine-year:hover {
            background-color: #425491;
        }

        .NewsTimeLine-arrow {
            border-top: 5px solid white;
        }
    }
    &-arrow {
        width: 0;
        height: 0;
        position: absolute;
        top: 11px;
        right: 10px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid @menuBlue;
    }
    &-year {
        line-height: 30px;
        padding: 0 10px;
        border-bottom: 1px solid @hoverBlue;
    }
    &-first {
        height: 105px;
        padding: 20px 25px 20px 40px;
    }
    &-list {
        overflow-y: scroll;
        height: 1150px;
    }
    &-item {
        padding: 20px 25px 20px 40px;
        cursor: pointer;

        &--first {
            padding-top: 35px;
        }
    }
    &-item:hover {
        background-color: @greyHover;
    }
}

.VerticalDivider {
    width: 1px;
    background-color: @lineColor;
}
