// ___________________________
// Проекты на главной странице
.Projects {
    padding-bottom: 60px;

    &-img {
        width: 300px;
        height: 220px;
        margin-left: 20px;
        transition: opacity .3s ease;
    }

    &-img:hover, &-content:hover {
        opacity: .5;
        cursor: pointer;
    }

    &-img--first {
        margin-left: 0;
    }

    &-content {
        display: inline-block;
        width: 300px;
        margin: 20px 0 0 20px;
        font-size: 14px;
        line-height: 21px;
        vertical-align: text-top;
        transition: opacity .3s ease;
    }

    &-content--first {
        margin-left: 0;
    }
}

// ____________________________________________
// Стили для страниц projects и projects-inside

.ProjectsImage {
    height: 534px;
    background-image: url(/static/img/projects.png);
    /* background-image: -webkit-image-set(url('/static/img/main-slider.png') 1x, url('/static/img/main-slider-2x.png') 2x); */
    background-size: cover;
}

.ProjectsInfo {
    background-color: @grey;
    padding: 60px 0 77px;
    overflow-x: hidden;

    &-desc {
        padding-top: 25px;
    }
    &-desc--first {
        padding-top: 15px;
    }
    &-desc, &-listTitle, &-list {
        width: 650px;
    }
    &-desc {
        line-height: 25px;
    }
    &-listItem {
        line-height: 24px;
    }
    &-listItem {
        font-size: 15px;
        list-style-type: none;
    }
    &-listItem:before {
        content: "•";
        font-size: 80%;
        padding-right: 5px;
        vertical-align: middle;
    }
    &-fact {
        width: 225px;
        height: 140px;
        position: absolute;
        top: 50px;
        right: 0;
    }
    &-listTitle {
        font-size: 16px;
        margin-top: 55px;
        font-family: FranklinBold;
        color: @hoverColor;
    }
    &-list {
        list-style-type: disc;
        list-style-position: inside;
        margin: 5px 0 0;
    }
    // Ширина для текста страницы projects-inside
    &--inside {
        width: 700px;
    }
}

// Стили сноски справа
.ProjectsFact {
    &-title {
        color: @hoverColor;
        font-size: 44px;
    }
    &-desc {
        color: @hoverColor;
        line-height: 1.6;
        padding: 5px 0 30px;
    }
}
// Стили для шапки над картой
.ProjectsNav {
    height: 105px;
    background-color: white;
    position: relative;

    &-link {
        margin-right: 35px;
        font-size: 15px;
        text-decoration: none;
        color: @hoverColor;

        &--active {
            color: black;
        }

        &:hover {
            color: black;
        }
    }

    &-control {
        width: 80px;
        height: 30px;
        position: absolute;
        right: 0;
        top: -6px;
    }
}
// Стили для переключателя "карта-список"
.ProjectsControl {
    width: 50%;
    height: 30px;
    border: 1px solid @controlBlue;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &--active {
        background-color: @controlBlue;
    }
    &:hover {
        background-color: @milkyBlue;
    }

    &--map {
        border-right: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-image: url(/static/img/map-blue.png);
        background-image: -webkit-image-set(url('/static/img/map/map-blue.png') 1x, url('/static/img/map/map-blue-2x.png') 2x);
        background-size: 16px 16px;

        &.ProjectsControl--active {
            background-image: url(/static/img/map/map-white.png);
            background-image: -webkit-image-set(url('/static/img/map/map-white.png') 1x, url('/static/img/map/map-white-2x.png') 2x);
        }
    }

    &--map:hover {
        background-image: url(/static/img/map/map-blue.png);
        background-image: -webkit-image-set(url('/static/img/map/map-blue.png') 1x, url('/static/img/map/map-blue-2x.png') 2x);
    }

    &--list {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-image: url(/static/img/map/list-blue.png);
        background-image: -webkit-image-set(url('/static/img/map/list-blue.png') 1x, url('/static/img/map/list-blue-2x.png') 2x);
        background-size: 17px 14px;

        &.ProjectsControl--active {
            background-image: url(/static/img/map/list-white.png);
            background-image: -webkit-image-set(url('/static/img/map/list-white.png') 1x, url('/static/img/map/list-white-2x.png') 2x);
        }
    }

    &--list:hover {
        background-image: url(/static/img/map/list-blue.png);
        background-image: -webkit-image-set(url('/static/img/map/list-blue.png') 1x, url('/static/img/map/list-blue-2x.png') 2x);
    }
}
// Стили для карты
.ProjectsMap {
    height: 650px;
    overflow: hidden;
    position: relative;

    &-map {
        width: 100%;
        height: 100%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        z-index: 100;
    }

    &-controls {
        position: absolute;
        top: 520px;
        right: 30px;
        width: 30px;
        height: 60px;
        z-index: 1000;
        background-image: url(/static/img/map-controls.png);
        background-image: -webkit-image-set(url('/static/img/map-controls.png') 1x, url('/static/img/map-controls-2x.png') 2x);
        background-size: cover;
        border-radius: 3px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
        cursor: pointer;
    }
}

.MapControls {
    height: 30px;
}
// центрирующая коробка для карты
.Center--map {
    height: 650px;
    position: absolute;
    top: 0;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}
