// ___________________________
// Слайдер на главной странице
.Slider {
    margin: 0 8px;
    height: 550px;
    position: relative;

    &-item {
        height: 550px;
        position: relative;
        background-size: cover;
        background-position: center;

        &--first {
            background-image: url(/static/img/projects.png);
            /* background-image: -webkit-image-set(url('/static/img/main-slider.png') 1x, url('/static/img/main-slider-2x.png') 2x); */
        }
        &--second {
            background-image: url(/static/img/third.jpg);
            /* background-image: -webkit-image-set(url('/static/img/main-slider.png') 1x, url('/static/img/main-slider-2x.png') 2x); */
        }
        &--third {
            background-image: url(/static/img/main-slider.png);
            /* background-image: -webkit-image-set(url('/static/img/main-slider.png') 1x, url('/static/img/main-slider-2x.png') 2x); */
        }
    }
    &-link {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    &-title {
        font-size: 35px;
        line-height: 48px;
    }
    &-title--white, &-desc--white {
        color: white;
    }

    &-title, &-desc {
        position: relative;
        margin: auto;
        width: 615px;
        top: 140px;
    }
    &-desc {
        top: 155px;
        font-size: 16px;
        line-height: 27px;
    }
}
// Настройки контролов встроенного own-carousel
.Slider {
    .owl-controls {
        position: absolute;
        top: 160px;
    }
    .owl-nav {
        display: none;
    }

    .owl-dots {
        width: 100px;
        height: 10px;
    }
    .owl-dot {
        width: 8px;
        height: 8px;
        margin-top: 20px;
        margin-left: 40px;
        border-radius: 50%;
        background-color: @darkGrey;
        transition: all .1s ease;

        &:hover {
            background-color: white;
        }

        &.active {
            background-color: @grey;
        }
    }
}

// ___________________________________
// ___________________________________
// ___________________________________
// Cлайдер на странице projects-inside

.ProjectsInfo {
    // Общая секция слайдера на странице projects-inside
    &-slider {
        margin-top: 45px;
    }
}

.ProjectsSlider {
    &-container {
        width: 700px;
    }
    &-item {
        background-image: url(/static/img/gas.jpg);
        /* background-image: -webkit-image-set(url('/static/img/main-slider.png') 1x, url('/static/img/main-slider-2x.png') 2x); */
        background-size: cover;
        opacity: .3;
        filter: blur(4px);
        height: 465px;
    }
    &-item--1 {
        background-image: url(/static/img/blue-stream.png);
        /* background-image: -webkit-image-set(url('/static/img/main-slider.png') 1x, url('/static/img/main-slider-2x.png') 2x); */
    }
    &-item--2 {
        background-image: url(/static/img/projects.png);
        /* background-image: -webkit-image-set(url('/static/img/main-slider.png') 1x, url('/static/img/main-slider-2x.png') 2x); */
    }
    &-descBox {
        width: 700px;
        height: 60px;
    }
    &-desc {
        display: none;
        font-size: 13px;
        line-height: 17px;
        color: @dateColor;
    }
    &-desc--active {
        display: block;
    }
}
// Настройки контролов встроенного own-carousel
.ProjectsInfo-slider {
    .owl-controls {
        position: absolute;
        top: 210px;
        left: 750px;
    }
    .owl-prev {
        display: none !important;
    }
    .owl-stage-outer {
        overflow: visible;
    }
    .owl-item {
        overflow: hidden;
    }
    .owl-nav {
        display: inline-block;
    }
    .owl-next {
        width: 14px;
        height: 27px;
        background-size: 14px 27px;
        background-image: url(/static/img/arrow.png);
        background-image: -webkit-image-set(url('/static/img/arrow.png') 1x, url('/static/img/arrow-2x.png') 2x);
    }
    .owl-item.active .ProjectsSlider-item {
        filter: none;
        opacity: 1;
        position: relative;
        z-index: 101;
    }
}
