.OfficeItem {
  position: relative;
  height: 50px;
  padding: 20px 54.5px 0;
  border-bottom: 1px solid #e0e0e0;
  background: #fff;

  &:last-child {
    border: none;
  }

  &:hover {
    .icon-remove {
      opacity: 1;
    }
  }

  .inp-field {
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .inp-title {
    width: 200px;
  }

  .icon-reorder {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    left: 10.5px;
    bottom: 0;
    margin: auto;
    fill: #6D6D6D;
    cursor: move;
    cursor: -webkit-grabbing;
  }

  .icon-remove {
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 0;
    right: 10.5px;
    bottom: 0;
    margin: auto;
    opacity: 0;
    transition: transform 0.25s ease-out, opacity 0.25s ease-out;

    &:hover {
      transform: rotate(90deg);
    }
  }

  &.ui-sortable-placeholder {
    visibility: visible !important;
    background: #cbcbcb;
    border: none;

    & > * {
      visibility: hidden;
    }
  }

  &.ui-sortable-placeholder + .plainitem,
  &.ui-sortable-placeholder + .ui-sortable-helper + .plainitem {
    border-top: 1px solid #e0e0e0;
  }

  &.ui-sortable-helper {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
  }

  &.list-noremove {
    display: none;
    padding: 0 10.5px;
    line-height: 50px;

    &:only-child {
      display: block;
    }
  }
}
