div.OfficeItem-row
    p.OfficeItem-name(for='OfficeItem-input-' + cid) Офис
    input.OfficeItem-input(type='text', name='office' + lang, value=model['office' + lang], id='OfficeItem-input' + cid)
div.OfficeItem-row
    p.OfficeItem-name(for='OfficeItem-input-' + cid) Адрес
    input.OfficeItem-input(type='text', name='address' + lang, value=model['address' + lang], id='OfficeItem-input' + cid)
div.OfficeItem-row
    p.OfficeItem-name(for='OfficeItem-input-' + cid) Телефон
    input.OfficeItem-input(type='text', name='phone' + lang, value=model['phone' + lang], id='OfficeItem-input' + cid)
div.OfficeItem-row
    p.OfficeItem-name(for='OfficeItem-input-' + cid) Факс
    input.OfficeItem-input(type='text', name='fax' + lang, value=model['fax' + lang], id='OfficeItem-input' + cid)
div.OfficeItem-row
    p.OfficeItem-name(for='OfficeItem-input-' + cid) Email
    input.OfficeItem-input(type='text', name='email' + lang, value=model['email' + lang], id='OfficeItem-input' + cid)
button.btn.remove.remove-plain-item(id='remove-item')
