{% load staticfiles %}

{% load i18n custom %}

<!doctype html>
<html lang="en">
<head>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>etk</title>
    <link rel="stylesheet" href="/static/css/front/style.css">
    <script type="text/javascript" src="/static/js/front/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/static/js/front/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/static/js/front/script.js"></script>
</head>

<body class="{% block body_class %}{% endblock %}">

{% block header %}
    {% include 'includes/header.html' %}
{% endblock %}

{% block main %}
{% endblock %}

</body>
</html>
