{% load i18n %}

{% block main %}
<div class="News">
    <div class="Center Flex"><a href="news.html" class="SectionHeader">НОВОСТИ</a></div>
    <div class="Center Flex Flex--start">
        <div class="News-list">

                {% for item in newsindex %}
                    {% if item.is_main == False %}
                        <div class="NewsList-item {% if item.id == 1 %} NewsList-item--first {% endif %}">
                            <h3 class="Date">{{ item.newsdate }}</h3>
                            <p class="NewsList-content">{{ item.newstext }}</p>
                        </div>
                    {% endif %}
                {% endfor %}

            <div class="NewsList-item">
                <h3 class="Date">17 мая, вторник</h3>
                <p class="NewsList-content">«ЕТК» и CNPC подписали Соглашение об основных условиях строительства газопровода по «западному» маршруту</p>
            </div>
            <div class="NewsList-item">
                <h3 class="Date">17 мая, вторник</h3>
                <p class="NewsList-content">«ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily</p>
            </div>
            <div class="NewsList-item NewsList-item--last">
                <h3 class="Date">17 мая, вторник</h3>
                <p class="NewsList-content">«ЕТК» стал одним из крупнейших игроков на нефтегазовом рынке по версии РБК-Daily</p>
            </div>
        </div>
        <div class="News-actual">
            {% for item in newsindex %}
                {% if item.is_main == True %}
                    <h3 class="Date Date--actual">{{ item.newsdate }}</h3>
                    <p class="NewsActual-content">{{ item.newstext }}</p>
                    <div class="NewsActual-img" style="background-image:url({{ item.img.url }});"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<hr>
{% endblock %}
