{% load control_tags %}

<div class="Topmenu">
    <div class="Topmenu-content Flex">
        <a class="Topmenu-logo" href="{% url 'control:control-main' %}"></a>

        {% spaceless %}
            <div class="Topmenu-list Flex">
                <a class="Topmenu-a {% active request '^/control/$' %}" href="{% url 'control:control-main' %}">
                    ГЛАВНАЯ
                </a>
                <a class="Topmenu-a {% active request '^/control/directions/$' %}" href="{% url 'control:control-main' %}">
                    НАПРАВЛЕНИЯ
                </a>
                <a class="Topmenu-a {% active request '^/control/contacts/$' %}" href="{% url 'control:contacts' lang='ru' %}">
                    КОНТАКТЫ
                </a>
                <a class="Topmenu-a {% active request '^/control/about/$' %}" href="{% url 'control:control-main' %}">
                    ХОЛДИНГ
                </a>
                <a class="Topmenu-a {% active request '^/control/news/$' %}" href="{% url 'control:control-main' %}">
                    НОВОСТИ
                </a>
            </div>
        {% endspaceless %}

        <a class="Topmenu-logout" href="{% url 'control-logout' %}">Выход</a>
    </div>
</div>
