.blog-post-page {
  .section-post {
    margin-bottom: 40px;
    padding-top: 20px;
  }

  .inp-title {
    width: 700px;
  }

  .inp-textarea {
    display: block;
    width: 700px;
    height: 580px;
    visibility: hidden;
  }

  .inp-row > .cke {
    width: 700px;
  }
}