.blog-page {
  .section-list {
    margin-top: 30px;
  }

  .date-filter {
    margin-top: 30px;
  }

  .select-year {
    margin-right: 10px;
  }

  .select-month {
    margin-right: 10px;
  }

  .filter-label {
    position: relative;
  }
}