.contacts-page {
  .section-list {
    margin-bottom: 40px;
  }

  .add-plain-item {
    margin-top: 15px;
  }
}

.ContactItem {
    position: relative;
    height: 215px;
    width: 450px;
    background-color: @box-color;
    padding: 25px 0 15px;
    margin-bottom: 20px;

    &-row {
        padding-bottom: 10px;
    }

    &-name {
        display: inline-block;
        line-height: 20px;
        width: 80px;
        margin-right: 15px;
        text-align: right;
        font-size: 13px;
    }

    &-input {
        width: 300px;
        height: 20px;
        border: 1px solid black;
        font-size: 13px;
        padding-left: 5px;
    }
}
